<html>
    <body>
        <div class="header">
            <h1>This is the header</h1>
        </div>
        <div class="body">
            <h1>This is the body</h1>
            <div style="background-blend-mode: color;" >
                {{{body}}}
            </div>
        </div>
        <div class="footer">
            <h1>This is the footer</h1>
        </div>
    </body>
</html>