<form action="/people/add-people" method="post" >
    <br>
    <input type="text" name="firstname" />
    <br>
    <input type="text" name="lastname" />
    <br>
    <button type="submit">Submit</button> 
</form>